.text1 {
  font-size: 50pt;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.email1 {
  font-size: 15pt;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.logo {
  text-align: center;
}
