.email {
  font-size: 30pt;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #ffae00 !important;
}

.text {
  font-size: 15pt;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #ffae00 !important;
}

.logo {
  text-align: center;
}
